.testimonial_grid {
    background-color: #333;
    color: white;
}

.margin_wrapper {
    margin: 0 150px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2svw;
    padding: 2svh 0;
}