.testimonial_grid, .testimonials_text {
    background-color: #333;
    color: white;
}

.testimonials_text {
    font-family: "Markazi Text";
    font-size: 40pt;
}

.testimonials_text p {
    margin: 0;
}

.margin_wrapper {
    margin: 0 150px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2svw;
    padding: 2svh 0;
}